@{
    ViewData["Title"] = "ManualTest";
}

<h2>CS386ProjectDemo</h2>

<style>
    body, textarea {
        display: block;
    }

    a {
        cursor: pointer;
        border: 1px solid red;
        display: inline-block;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<a id="btn1">Create Session</a>
<br />
<br />
/Data/CreateSession response (json)
<textarea rows="10" cols="50" id="rq0"></textarea>

<br />

Sessions List:
<textarea rows="10" cols="50" id="rq1"></textarea>

<br />

Song URL:
<textarea rows="1" cols="65" id="rq2"></textarea>
<a id="btn2">Queue Song</a>
<br />
<br />
/Data/QueueSong response (json)
<textarea rows="10" cols="65" id="rq4"></textarea>
<br />

Songs List:
<textarea rows="10" cols="50" id="rq3"></textarea>
<br />
<div id="loading_indicator" style="font-weight:800;font-size:22px; display:none;" dots="3">buffering...</div>
<audio id="audio_tag" controls>
    <source id="audio_source" src="_" type="audio/mpeg">
</audio>

<script>

    var sessionId = "";
    var clientId = "";

    function getNextSong() {
        $.ajax({
            url: "http://josephsirna.org:81/dev/Data/GetSongList",
            type: 'post',
            data: {
                'sessionId': sessionId
            },
            success: function (r) {
                var songs = r.songs;
                if (songs.length > 0) {
                    var songId = songs[0].id;

                    $("#audio_source").attr('src', 'http://josephsirna.org:81/dev/Data/GetSong?SongId=' + songId);

                    $("#loading_indicator").show();
                    setInterval(function () {
                        var e = $("#loading_indicator");
                        var dots = e.attr('dots');
                        if (dots == '1') {
                            e.attr('dots', '2');
                            e.html("buffering..");
                        } else if (dots == '2') {
                            e.attr('dots', '3');
                            e.html("buffering...");
                        } else {
                            e.attr('dots', '1');
                            e.html("buffering.");
                        }
                    }, 500);

                    var audio_tag = document.getElementById('audio_tag');

                    audio_tag.load();

                    audio_tag.addEventListener('canplaythrough', function () {
                        $("#loading_indicator").hide();
                    }, false);

                    audio_tag.play();
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function getSongList() {
        $.ajax({
            url: "http://josephsirna.org:81/dev/Data/GetSongList",
            type: 'post',
            data: {
                'sessionId': sessionId
            },
            success: function (r) {
                $("#rq3").val(JSON.stringify(r, null, 2));

                getNextSong();
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function getSessionList() {
        $.ajax({
            url: "http://josephsirna.org:81/dev/Data/GetSessionList",
            type: 'post',
            success: function (r) {
                $("#rq1").val(JSON.stringify(r, null, 2));
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    var rq0 = {
        "Name": "session name",
        "DisplayName": "display name"
    };

    $("#btn2").click(function () {
        var url = $("#rq2").val();
        $.ajax({
            url: "http://josephsirna.org:81/dev/Data/QueueSong",
            data: {
                'clientId': clientId,
                'source': 'youtube',
                'url': url
            },
            type: "post",
            success: function (r) {
                $("#rq4").val(JSON.stringify(r, null, 2));

                getSongList();
            },
            error: function (e) {
                console.log(e);
            }
        });
    });

    $("#btn1").click(function () {
        $.ajax({
            url: "http://josephsirna.org:81/dev/Data/CreateSession",
            data: rq0,
            type: "post",
            success: function (r) {
                $("#rq0").val(JSON.stringify(r, null, 2));

                console.log("ClientId=" + r.clientId);

                sessionId = r.sessionId
                clientId = r.clientId;

                getSessionList();

            },
            error: function (e) {
                console.log(e);
            }
        });

    });
</script>