
@{
    ViewData["Title"] = "YoutubeDL";
}

<h2>YoutubeDL</h2>

<form action="GetMP3" method="post">
    <input type="text" placeholder="url" name="url" id="url" />
    <input type="submit" value="download mp3" />
</form>